@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  height: 100vh;
}

body {
  @apply bg-light-green text-dark-green;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 1rem;
}

input {
  @apply p-1 border-b focus-visible:outline-flixcheck-green focus-visible:outline-1;
}
